.App {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #231B2E;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  margin: 10% 40%;
  
}

.row {
  opacity: 0.8;
  cursor: pointer;
  padding: 10px;
  border-left: 3px solid #231B2E;
  border-bottom: 1px solid hsla(0,0%,100%,0.05);
  
}

.row:hover {
  background-color: #393243;
  opacity: 1;
  border-left: 3px solid #71149F;
}